@charset "utf-8";

.mui-input-group::before {
background-color: #007aff;
}	
.mui-input-group::after {
background-color: #007aff;
}
		
.mui-input-group .mui-input-row::after {
background-color: #007aff;
}		

.mui-input-group .mui-input-row {
margin:12px 0;  
}
	
.mui-input-group .mui-input-row::after {
background-color: #007aff;
}			

body{
	background:#fff;
}

.login-box {}

.logo { *zoom:1;}
.logo::after { content:""; display:block; height:0; clear:both; visibility:hidden;}
.logo-icon { 
	display: block;
	margin:40px 0 0 0;
	height:100px;
	background: url(../images/logo-icon-mobile.png) top center no-repeat;
	background-size:20%;
}
.logo-txt-01 {
    display: block;
    height: 26px;
    line-height: 19px; font-size: 19px; text-align:center; font-weight: bold; color:#333;
}
.logo-txt-02 {
    display: block;
    height: 30px;
    line-height: 28px; font-size: 28px; text-align:center; font-weight: bold; color:#007aff;
}

.login-remembe { padding:8px 15px 15px 15px;}

.login-remembe-item { display:inline-block; margin:0 15px 0 0}

.login-remembe .mui-checkbox.mui-left input[type="checkbox"] { left:0;}

.login-remembe .mui-checkbox input[type="checkbox"] { top: -2px; right: 0;}

.login-remembe .mui-checkbox.mui-left label { padding-right: 0; padding-left: 30px;}
.login-remembe .mui-checkbox label { line-height: 26px;}

.login-tip { padding:0 15px;}

.alert-error { padding:30px 15px 8px 15px; color: #ec1d25; border:0px dashed #f2d8d9; text-align:center;}

.login-bar { padding:15px;}

.copyright { text-align:center; font-size:12px; color:#999}
