html, body { height:100%;}


.btn-primary { color: #fff;   background-color: #009bdb;   border-color: #009bdb;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active { color: #fff; background-color: #4bcaff; border-color: #4bcaff;}

.table-striped tbody > tr:nth-child(odd) > td,.table-striped tbody > tr:nth-child(odd) > th{background-color:#f2f8fa}
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color: #FCF8E3}

.input-text, .textarea { border: solid 1px #999;}

.ztree .line { border:0;}



.header { position:relative; height:60px; background:#009bdb;}

.header .logo-box { position:relative; float:left;}
.header .logo-box .logo { display:block; margin:0 0 0 0; width:300px; height:60px; overflow:hidden; background:url(../images/logo.jpg); font-size:18px; color:#222; text-indent:-999999px}

.header .nav { float:right; padding:2px 0 0 0; }
.header .nav .menu a { position:relative; display:block; float:left; margin:0; padding:0 20px; border-left:1px solid #40b4e4; font-size:14px;}
.header .nav .menu a:link { color:#fff; text-decoration:none;}
.header .nav .menu a:visited { color:#fff; text-decoration:none;}
.header .nav .menu a:hover { color:#fff;  text-decoration:none;}
.header .nav .menu a:active { color:#fff; text-decoration:none;}
.header .nav .menu a i { display:block; text-align:center}
.header .nav .menu a i.Hui-iconfont { line-height:32px; font-size:19px;}
.header .nav .menu a span { display:block; text-align:center}
.header .nav .menu a:hover i.Hui-iconfont { font-size:28px;}

.header .user-info { position:absolute; top:16px; left:320px; padding:0 10px 0 0; font-size:12px; color:#fff}
.header .user-info .user-info-name { line-height:16px; font-size:14px; font-weight:bold;}
.header .user-info .user-info-bar { padding:0 0 0 23px}
.header .user-info a:link { color:#fff; text-decoration:none;}
.header .user-info a:visited { color:#fff; text-decoration:none;}
.header .user-info a:hover { color:#fff;  text-decoration:none;}
.header .user-info a:active { color:#fff; text-decoration:none;}



.side-left { position:absolute; top:60px; bottom:0; left:0; width:199px; border-right:1px solid #a3c0cc; background:#d4effa}

.nav-left { padding:0; }
.nav-left a { display:block; position:relative; }
.nav-left a:link { color:#333; text-decoration:none;}
.nav-left a:visited { color:#333; text-decoration:none;}
.nav-left a:hover { color:#333; text-decoration:none;}
.nav-left a:active { color:#333; text-decoration:none;}

.nav-left .Huifold .item { margin:0 0 0 0; border-bottom:1px solid #a3c0cc;}
.nav-left .Huifold .item h4 { position: relative; padding:0 0 0 10px; border: 0; background-color:transparent; font-weight: normal;font-size: 14px; line-height:33px; color:#333; cursor: pointer;}
.nav-left .Huifold .item h4 b { display: block; position: absolute; right: 10px;top:0;width: 20px;height: 22px;text-align: center; font-weight: normal;color: #222;cursor: pointer;}
.nav-left .Huifold .item .info { border-top:1px solid #a3c0cc; background:#e6f4fa; }
.nav-left .Huifold .item .info a { padding:0 0 0 24px; font-size:14px; line-height:30px }
.nav-left .Huifold .item .info a:before { position:absolute; display: block; content: ""; left:12px; top:13px; width:4px; height:4px; background:#333;}

.nav-left .Huifold .item .info a.active { width:190px; border:1px solid #a3c0cc; border-right:0; background:#fff; }

.nav-left .menu-left-notree  { padding:40px 0 0 0; }
.nav-left .menu-left-notree .item { margin:0 0 0 0; padding:0 10px;}
.nav-left .menu-left-notree .item a { display:block; position: relative; padding:0 0 0 24px; font-size:13px; line-height:30px }
.nav-left .menu-left-notree .item a:before { position:absolute; display: block; content: ""; left:12px; top:13px; width:4px; height:4px; background:#333;}
.nav-left .menu-left-notree .item a.active { width:190px; border:1px solid #a3c0cc; border-right:0; background:#fff; }



.index-class { position:absolute; top:60px; bottom:40px; left:200px; right:0; overflow:auto; border-top:0px solid #bbb; background:#fff;}
.index-box { padding:10px 10px 0 10px;}
.side-hd { padding:5px 0; font-weight:bold;}
.index-side-right { padding: 0 0 0 10px;}


.side-main-list { position:absolute; top:60px; bottom:40px; left:200px; right:0; overflow:auto; border-top:0px solid #bbb; background:#fff;}

.side-main-list .list-hd { position:relative; padding:5px 0; height:23px; border-bottom:1px solid #a3c0cc; background:#e6f4fa;}
.side-main-list .list-hd .path { padding:0 10px; line-height:23px; font-size:12px; color:#333}

.side-main-list .list-hd .list-seacher { position:absolute; top:5px; right:10px; line-height:23px;}
.side-main-list .list-hd .list-seacher .item { float:left; display:inline-block; *display:inline; margin-right:3px; line-height:23px; font-size:0;}
.side-main-list .list-hd .list-seacher .item .item-txt { font-size:14px;}
.side-main-list .list-bd { padding:8px 10px 0 10px}
.side-main-list .list-bd .list-bar { padding:0 0 5px 0 }
.side-main-list .list-bd .list-c { padding:0; border:1px solid #9dbecc; background:#fff}

.side-main-list .list-bd .list-c .table { border:0;}
.side-main-list .list-bd .list-c .table th { position:relative; padding:5px 10px; border:0; border-bottom:0px solid #9dbecc; background:#e6f4fa; line-height:20px; font-size:13px; color:#333}
.side-main-list .list-bd .list-c .table th:before { position:absolute; display: block; content: ""; left:0px; top:6px; width:1px; height:18px; background:#9dbecc;}
.side-main-list .list-bd .list-c .table th:first-child:before { width:0;}
.side-main-list .list-bd .list-c .table td { padding:5px 10px; border:0; border-top:1px solid #9dbecc; font-size:14px;}

.side-main-list .list-bd .list-bar .item {  float:left; display:inline-block; *display:inline; margin-right:3px; line-height:23px; font-size:0;}
.side-main-list .list-bd .list-bar .item .item-txt { font-size:14px;}

.btn-pic-box { position:relative; display:inline-block; *display:inline;}
.btn-pic-box .btn { padding-left:24px}
.btn-pic-box .Hui-iconfont { position:absolute; left:0; width:24px; font-size:17px; line-height:21px; text-align:center; color:#fff;}
.btn-pic-box label { float:left;}

.page-box { position:relative; padding:5px 10px; overflow:hidden; border-top:1px solid #9dbecc;}
.page-box .page-bar { position:absolute; top:0; right:0; padding:5px 0 0 0; line-height:24px; font-size:12px;}
.page-box .page-bar .item { float:left; display:inline-block; *display:inline; padding:0 10px 0 0;}
.page-box .page-total { line-height:24px; font-size:12px;}
.page-box .page-total #curPage { color:#F30}



.dialog-list {}

.dialog-list .list-hd .list-seacher { line-height:23px;}
.dialog-list .list-hd .list-seacher .item { float:left; display:inline-block; *display:inline; margin-right:3px; line-height:23px; font-size:0;}
.dialog-list .list-hd .list-seacher .item .item-txt { font-size:12px;}
.dialog-list .list-bd { padding:5px 0 0 0}
.dialog-list .list-bd .list-c { padding:0; border:1px solid #9dbecc; background:#fff}

.dialog-list .list-bd .list-c .table { border:0;}
.dialog-list .list-bd .list-c .table th { position:relative; padding:5px 10px; border:0; border-bottom:0px solid #9dbecc; background:#e6f4fa; line-height:20px; font-size:13px; color:#333}
.dialog-list .list-bd .list-c .table th:before { position:absolute; display: block; content: ""; left:0px; top:6px; width:1px; height:18px; background:#ccc;}
.dialog-list .list-bd .list-c .table th:first-child:before { width:0;}
.dialog-list .list-bd .list-c .table td { padding:5px 10px; border:0; border-top:1px solid #9dbecc; font-size:14px;}




.side-main-form { position:absolute; top:60px; bottom:0; left:200px; right:0; overflow:auto; border-top:0px solid #bbb; background:#fff;}

.side-main-form .form-hd { position:relative; padding:5px 0; height:23px; border-bottom:1px solid #a3c0cc; background:#e6f4fa;}
.side-main-form .form-hd .path { padding:0 10px; line-height:23px; font-size:12px; color:#333}

.side-main-form .form-bd { padding:10px;}

.side-main-form .form-bd .form-bar { padding:0 0 10px 0 }

.side-main-form .form-c { padding:0; background:#fff}

.side-main-form .dt { background-color:#e6f4fa}



.main-form { position:relative; height:100%; overflow:auto;}

.main-form .form-hd { position:relative; padding:5px 0; height:23px; border-bottom:1px solid #a3c0cc; background:#e6f4fa;}
.main-form .form-hd .path { padding:0 10px; line-height:23px; font-size:12px; color:#333}
.main-form .form-hd .form-bar { position:absolute; right:10px; top:0; padding:5px 0 0 0 }

.main-form .form-bd { *width:96%}

.main-form .form-bd .form-bar { padding:0 0 5px 0 }
.main-form .form-bd .form-bar .item {  float:left; display:inline-block; *display:inline; margin-right:3px; line-height:23px; font-size:0;}
.main-form .form-bd .form-bar .item .item-txt { font-size:14px;}

.main-form .form-c { padding:0; background:#fff}

.main-form .form-c .HuiTab { padding:0}
.main-form .form-c .tabBar { position:relative; height:35px; border-bottom: 1px solid #bbb; background:#e5e5e5}
.main-form .form-c .tabBar-box { position:absolute; padding:5px 0 0 11px;}
.main-form .form-c .tabBar span { background-color:#f2f2f2; cursor: pointer;display: inline-block;float: left;font-weight:normal;height: 29px;line-height: 29px; margin:0 0 0 -1px; padding: 0 15px; border: 1px solid #bbb;}
.main-form .form-c .tabBar span.current{ border-bottom:1px solid #fff;background-color: #fff;font-weight:bold;color: #333}
.main-form .form-c .tabCon {display: none; padding:10px}

.ysjl .form-hd { position:fixed; width:100%; z-index:9999}
.ysjl .form-bd { padding:30px 0 0 0}

.table-form { margin:8px auto; width:auto; table-layout:fixed; border-color:#a3c0cc; line-height:23px;}
.tabCon .table-form { margin:0 auto;}

.table-form td { position:relative; padding:2px 2px; border-color:#a3c0cc; line-height:24px; font-size:14px; vertical-align:top}
.table-form td.td-dt {  background-color:#e6f4fa; text-align:center;}

.table-form td p{ margin:0; padding:0; }

.table-form td .td-item { float:left;}

.table-form caption { padding:0px 0 5px 0; font-size:18px; text-align:center}

.table-form td.table-table-list-box { padding:0}
.table-form td .table-table-list {}
.table-form td .table-table-list th { padding:0 0 2px 2px; *padding-right:6px; border:0; background:#f1f1f1; font-weight:normal}
.table-form td .table-table-list td { *padding-right:6px; border:0; border-top:1px solid #ccc}
.table-form td .table-table-list td.td-dt { border-top:1px solid #f1f1f1;border-right:1px solid #ccc; background-clip:padding-box; background-color:#f1f1f1; text-align:center;}

.table-form td input[type="text"], .table-form td textarea {
    box-sizing: border-box;
    border: solid 1px #999;
    width: 100%;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

.table-form td input[type="text"]:hover,.table-form td textarea:hover{ border: solid 1px #3bb4f2}
.table-form td input[type="text"]:focus,.table-form td textarea:focus{border:solid 1px #0f9ae0 \9;border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}

.table-form td input[type="text"], .table-form td textarea { padding:2px; line-height:20px; font-size:14px;}
.table-form td .input-row { display:block;}
.table-form td .input-col { display:block; float:left}

.table-form td .input-box { *padding:0 6px 0 0;}
.table-form td .textarea-box { *padding:0 10px 0 0;}

.table-form td .select-box { padding:2px; height:26px; *height:20px; line-height:20px; border: solid 1px #999; font-size:14px;}
.table-form td .select-box select { width:100%; height:20px; line-height:20px; border:1px solid #fff; background:#fff; font-size:14px;}

.table-form td.td-dt .select-box { border: solid 1px #e6f4fa;}
.table-form td.td-dt .select-box select { border:1px solid #e6f4fa; background:#e6f4fa;}

.input-select-box { position:relative; padding:2px 0; height:20px; line-height:20px; border:1px solid #999}
.input-select-box:hover{border: solid 1px #3bb4f2}
.input-select-box:focus{border:solid 1px #0f9ae0 \9;border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}
.input-select-box .item-input { position:absolute; left:2px; right:25px; z-index:3}
.input-select-box .item-input input[type="text"]{ width:100%;clip:rect(auto auto auto auto);position: absolute; padding:0; height:20px; line-height:20px; border:0; z-index:4}
.input-select-box .item-input input[type="text"]:hover{ border:solid 0px #3bb4f2}
.input-select-box .item-input input[type="text"]:focus{ border:solid 0px #0f9ae0 \9;border-color:rgba(82,168,236,0);box-shadow:0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(102, 175, 233, 0)}

.input-select-box .item-select{ }
.input-select-box select{ width:100%; position:absolute; bottom:2px;   padding:0; height:20px; line-height:20px;z-index:2; border:1px solid #fff;border-left-width:3px; border-right-width:3px;background:#fff;}

.jhr-table-list.table { border: 1px solid #9dbecc}
.jhr-table-list.table th { position:relative; padding:5px 10px; border:0; border-bottom:0px solid #9dbecc; background:#e6f4fa; line-height:20px; font-size:13px; color:#333}
.jhr-table-list.table th:before { position:absolute; display: block; content: ""; left:0px; top:6px; width:1px; height:18px; background:#9dbecc;}
.jhr-table-list.table th:first-child:before { width:0;}
.jhr-table-list.table td { padding:5px 10px; border:0; border-top:1px solid #9dbecc; font-size:14px;}

.jhr-table-list td input[type="text"], .jhr-table-list td textarea {
    box-sizing: border-box; border: solid 1px #999; width: 100%;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

.jhr-table-list td input[type="text"]:hover,.jhr-table-list td textarea:hover{ border: solid 1px #3bb4f2}
.jhr-table-list td input[type="text"]:focus,.jhr-table-list td textarea:focus{border:solid 1px #0f9ae0 \9;border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}

.jhr-table-list td input[type="text"], .jhr-table-list td textarea { padding:2px; line-height:20px; font-size:14px;}
.jhr-table-list td .input-row { display:block;}
.jhr-table-list td .input-col { display:block; float:left}

.jhr-table-list td .input-box { *padding:0 6px 0 0;}
.jhr-table-list td .textarea-box { *padding:0 10px 0 0;}

.jhr-table-list td .select-box { padding:2px; height:26px; *height:20px; line-height:20px; border: solid 1px #999; font-size:14px;}
.jhr-table-list td .select-box select { height:20px; line-height:20px; border:1px solid #fff; background:#fff;}

.jhr-table-list-form.table th { padding:2px;}
.jhr-table-list-form.table th:before { position:absolute; display: block; content: ""; left:0px; top:6px; width:0px; height:18px; background:#9dbecc;}
.jhr-table-list-form.table td { padding:2px;}
.jhr-table-list-form td input[type="text"], .jhr-table-list-form td textarea { height:48px;}

.jhr-table-list-form td textarea.focus,.jhr-table-list-form td textarea:focus{ height:96px}

.jhr-table-list-form td .btn-default { background-color: #f2f8fa; border-color: #9dbecc; color:#009bdb}

.jhr-table-list-form td .btn-default:hover, .jhr-table-list-form td .btn-default:focus, .jhr-table-list-form td .btn-default:active, .jhr-table-list-form td .btn-default.active { color: #4bcaff; background-color: #f2f8fa; border-color: #4bcaff;}

.jhr-table-list-form td .input-row { display:block;}
.jhr-table-list-form td .input-col { display:block; float:left}

.jhr-table-list-form td .input-box { *padding:0 6px 0 0;}
.jhr-table-list-form td .textarea-box { *padding:0 10px 0 0;}

.jhr-table-list-form td .select-box { display:block; padding:2px; height:48px; *height:48px; line-height:20px; border: solid 1px #999; background-color:#fff; font-size:14px;}
.jhr-table-list-form td .select-box select { width:100%; height:42px; *height:44px; line-height:42px; border:0px solid #ccc; background-color:transparent;}

.jhr-table-list-form tbody tr.radioE td { background:#f2dede}
.jhr-table-list-form tbody tr.radioS td { background:#dff0d8}
.jhr-table-list-form tbody tr.radioN td { background:#fcf8e3}

.jhr-table-list-form .jhr-icon { display:inline-block; width:12px; height:12px; background:url(../images/icon.gif); background-position: 0% 0%; background-repeat: no-repeat; }
.jhr-table-list-form .jhr-icon-gou { background-position:0 0;}
.jhr-table-list-form .jhr-icon-cha { background-position:-12px 0;}
.jhr-table-list-form .jhr-icon-jianhao { background-position:-24px 0;}

.jhr-table-list-form.size-h-d td input[type="text"], .jhr-table-list-form.size-h-d td textarea { height:24px;}
.jhr-table-list-form.size-h-d td input[readonly], .jhr-table-list-form.size-h-d td textarea[readonly] {}


.attachment-upload-box {}
.attachment-upload-box .attachment-col { float:left; padding:0 5px 0 0; display:inline-block; *display:inline;}
.attachment-upload-box .btn-upload{ height:28px;}
.attachment-upload-box .btn.size-MINI { height: 26px;}
.attachment-upload-list { position:relative}
.attachment-upload-list .item-col { float:left; line-height:24px;}
.attachment-upload-list .item-col input[type="radio"], .attachment-upload-list .item-col input[type="checkbox"] { margin-top: 6px; line-height:24px;}
.attachment-upload-list .item-col img[src="/icons/vwicn005.gif"] { margin-top: 6px; line-height:24px;}


.export-option {}

.export-option-sb .item{ float:left; width:140px}

.export-option-sbjd .item{ float:left; width:160px}

.tools01 .item {  float:left; display:inline-block; *display:inline; margin-right:0; line-height:23px; font-size:0;}
.tools01 .item .item-txt { font-size:14px;}

.Validform-box { position:relative;}

.form-horizontal .Validform_checktip {
    margin-top: 0;
}
.Validform_right {
    background: none;
}
.Validform_wrong {
    background: #f00000; color:#fff;
}
.Validform_warning {
    background: none;
}
.Validform_wrong, .Validform_right, .Validform_warning {
	position:absolute; top:4px; right:2px;
    display: block;
    padding:0 3px 0 5px;
    height: 20px;
    line-height:20px;
    white-space:nowrap;
    font-size: 12px;
    vertical-align: middle;
}

.list-page-param { position:relative; border:0px solid #9dbecc;}
.list-page-param:before { position:absolute; display: block; content: "";left:0; top:0; bottom:0; width:16.66667%; height:0%;border-right:1px solid #9dbecc; background:#f2f8fa;}

.list-page-param .box-hd { padding:5px 10px;border-bottom:1px solid #9dbecc; background:#f2f8fa; font-size:14px; font-weight:bold;}
.list-page-param .box-bd { padding:10px}
.list-page-param .box-bar{ padding:10px 10px 0 10px}

.param-filter { padding:0 0 0 0; border:1px solid #9dbecc;}
.param-filter .box-bd {}

.param-filter .items { padding:0;}
.param-filter .item { position:relative; margin:0 0 6px 0; padding:4px 0; font-size:12px;}
.param-filter .item.active { border:1px solid #FFB951; background: #FFE6B0;}
.param-filter .item.active:before { position:absolute; display: block; content: ""; right:-1px; top:0; bottom:0; width:0px; height:100%; background:#fff;}

.param-list { margin:0 0 0 10px; padding:0 0 0 0; border:1px solid #9dbecc;}


.list-in-td {}
.list-in-td .list-bar { padding:0 0 3px 0;}
.list-in-td table { border:0; border-collapse:collapse}
.list-in-td th { padding:2px 0 2px 2px; *padding-right:6px; border:1px solid #ddd; background:#f1f1f1; font-weight:normal}
.list-in-td td { *padding-right:6px; border:0; border-top:1px solid #ccc}

.list-in-td-02 {}
.list-in-td-02 .list-bar { padding:0 0 3px 0;}
.list-in-td-02 table { border:0; border-collapse:collapse}
.list-in-td-02 th { padding:2px 0 2px 2px; *padding-right:6px; border:1px solid #ddd; background:#f1f1f1; font-weight:normal}
.list-in-td-02 td { *padding-right:6px; border:0; border:1px solid #ccc}






